<template>
  <div class="advantages">
      <div class="advantages__content content-wrapper">
        <h1>
            IT <a href="/vacancies" class="talent-search-link">talent search</a> <br>
            and management platform
        </h1>
        <div class="desc">
          IT staffing and recruitment made simple: helping you to find A-players
        </div>
      </div>
      <div class="img"></div>
      <div class="advantages__content content-wrapper">
        <ul class="plus-list">
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="it-spec"
                  size="0 0 63 42"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                200+ IT specialists and recruiters in Russia, Europe,  Australia, US
              </div>
            </div>
          </li>
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="deep-tech"
                  size="0 0 63 56"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                Deep technical expertise in all things HR and IT custom software development
              </div>
            </div>
          </li>
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="star"
                  size="0 0 51 51"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                500+ successfully staffed professionals
              </div>
            </div>
          </li>
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="satisf-part"
                  size="0 0 61 61"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                100+ satisfied partners and clients
              </div>
            </div>
          </li>
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="accomp-proj"
                  size="0 0 53 52"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                80+ successfully accomplished projects
              </div>
            </div>
          </li>
          <li class="plus-list__item">
            <div class="plus">
              <div class="plus__icon">
                <svg v-svg
                  symbol="ICO"
                  size="0 0 52 54"
                  role="presentation"
                  class="icon--inline"
                ></svg>
              </div>
              <div class="plus__desc">
                10+ successful ICO / blockchain projects advised with cumulative M100$ raised
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/advantages.scss';
</style>
