<template>
	<div class="footer">
		<div class="footer-wrapper content-wrapper">
			<p class="footer__logo">
				<span>Baza</span> 2018 &copy;
			</p>
			<ul class="footer__social-list">
				<li class="footer__social-item">
					<a href="https://www.facebook.com/BAZA-704147803127451/" target="_blank">Facebook</a>
					<svg v-svg
						symbol="icon-link"
						size="0 0 17 17"
						role="presentation"
						class="footer__social-icon"
					></svg>
				</li>
				<li class="footer__social-item">
					<a href="https://www.instagram.com/p/Bg7u0kulaHN/" target="_blank">Instagram</a>
					<svg v-svg
						symbol="icon-link"
						size="0 0 17 17"
						role="presentation"
						class="footer__social-icon"
					></svg>
				</li>
				<li class="footer__social-item">
					<a href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQHdmHEj2sUvyAAAAWL7dlEQwZDnrkbD6HDsHi_mJqHEraApf9xb_MKZmQQZ3tk8FswyD_2tvU6ThdjGuRKJ_Yjq0kYAO4FfZ-82hOI8NHilgbWmcCo0Tv0gFxaL-y3PHh2BMHE=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbaza%2F" target="_blank">LinkedIn
						<svg v-svg
							symbol="icon-link"
							size="0 0 17 17"
							role="presentation"
							class="footer__social-icon"
						></svg>
					</a>
				</li>
			</ul>
			<send-email />
		</div>
	</div>
</template>
<style lang="scss" scoped>
	@import '../assets/styles/footer.scss';
</style>
<script>
	import SendEmail from './SendEmail.vue';

	export default {
		components: {
			SendEmail
		}
	}
</script>
