<template>
	<div class="header content-wrapper">
		<div class="logo-container">
			<a href="/">
				<svg v-svg
					symbol="logo"
					size="0 0 137 36"
					role="presentation"
					class="icon--inline"
				></svg>
			</a>
		</div>
		<div class="nav-container">
			<AppNav></AppNav>
			<MobileMenu></MobileMenu>
		</div>
	</div>
</template>
<style lang="scss" scoped>
	@import '../assets/styles/appHeader.scss';
</style>
<script>
	import AppNav from './AppNav.vue';
	import MobileMenu from './MobileMenu.vue';

	export default {
		components: {
			AppNav,
			MobileMenu
		}
	}
</script>
