<template>
	<nav class="nav">
			<router-link to="/career" class="nav__item" >Vacancies</router-link>
			<router-link to="/projects" class="nav__item" >Projects</router-link>
			<router-link to="/ico-services" class="nav__item" >Blockchain</router-link>
			<router-link to="/contacts" class="nav__item" >Contacts</router-link>
	</nav>
</template>
	<router-view></router-view>
<style lang="scss" scoped>
	@import '../assets/styles/appNav.scss';
</style>
