<template>
  <div class="block-link-wrapper">
        <a :href=url class="block-link">
            <div class="bg"></div>
            <div class="block-link__icon block-link__icon_left">
                <svg v-svg
                    symbol="col"
                    size="0 0 15 33"
                    role="presentation"
                ></svg>
            </div>
            <div class="block-link__text">
                {{ text }}
            </div>
            <div class="block-link__icon block-link__icon_right">
                <svg v-svg
                    symbol="col"
                    size="0 0 15 33"
                    role="presentation"
                ></svg>
            </div>
        </a>
    </div>
</template>
<style lang="scss" scoped>
    @import '../assets/styles/blockLink.scss';
</style>
<script>
    export default {
        props: {
            text: String,
            url: String
		}
    }
</script>
