<template>
	<div class="blog content-wrapper">
		<h2>Blog</h2>
		<transition name="fade">
			<div class="blog-list">
				<div class="col col-2">
					<blog-item
						:item="items[0]"
					></blog-item>
					<blog-item
						:item="items[1]"
					></blog-item>
				</div>
				<div class="col col-1">
					<blog-item
						:item="items[2]"
						cssClass="large"
					></blog-item>
				</div>
				<div class="col col-2">
					<blog-item
						:item="items[3]"
					></blog-item>
					<blog-item
						:item="items[4]"
					></blog-item>
				</div>
				<div class="col col-2">
					<blog-item
						:item="items[5]"
					></blog-item>
					<blog-item
						:item="items[6]"
					></blog-item>
				</div>
			</div>
		</transition>
	</div>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/blog.scss';
</style>
<script>
	import BlogItem from './BlogItem.vue';

	export default {
		components: {
			BlogItem
		},

		data: function() {
			return {
				items: {}
			}
		},

		created: function() {
			this.fetchItems();
		},

		methods: {
			fetchItems() {
				let uri = `${this.$api}/instagramItems`;
				this.axios.get(uri).then((response) => {
					this.items = response.data.data;
				});
			}
		}
	}
</script>