<template>
	<a v-if="item" :href="item.link" target="_blank" class="blog-item" :class="cssClass">
		<div class="blog-item__img-container">
			<img :src="item.images.standard_resolution.url" class="blog-item__img">
		</div>
		<div class="blog-item__info">
			<div class="blog-item__text">
				<span class="blog-item__text-from">
					{{ item.caption.from.username }}
				</span>
				{{ item.caption.text }}
			</div>
			<div class="blog-item__like like">
				<svg v-svg
					symbol="icon-like"
					size="0 0 12 9"
					role="presentation"
					class="like__icon"
				></svg>
				<span class="like__count">
					{{ item.likes.count }}
				</span>
			</div>
		</div>
	</a>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/blog-item.scss';
</style>
<script>
	export default {
		props: {
			item: {
				type: Object
			},

			cssClass: String
		}
	}
</script>
