<template>
	<div class="career content-wrapper">
		<h1>IT recruitment made simple: helping you to hire the best A-players</h1>
		<p class="career__desc">Our clients are our partners, therefore it is important for us to build personal relationships with them, so we can understand their needs as our own.</p>
		<section class="career__target-block">
			<div class="career__advantages-list">
				<article class="career__advantage">
					<p class="career__advantage-head">
						<svg v-svg
							symbol="icon-career-like"
							size="0 0 18 18"
							role="presentation"
							class="icon--inline career__advantage-icon"
						></svg>
						Recommend a friend for a bonus
					</p>
					<p class="career__advantage-text">Recommend a friend for a position — get a bonus! </p>
				</article>
				<article class="career__advantage">
					<p class="career__advantage-head">
						<svg v-svg
							symbol="icon-price"
							size="0 0 18 18"
							role="presentation"
							class="icon--inline career__advantage-icon"
						></svg>
						Prices
					</p>
					<p class="career__advantage-text">We charge 20-25% of average yearly salary of successful candidate — we always find a solution when our partner needs our help</p>
				</article>
			</div>
		</section>
		<h2>Open vacancies</h2>
		<transition name="fade">
			<div class="career__list">
				<CareersItem
					v-for="item in itemsList"
					v-bind:key="item.uid"
					v-bind:item="item"
				></CareersItem>
			</div>
		</transition>
		<block-link class="career__vacancies-btn" text="More vacancies" url="#" />
		<section class="career__mail-block">
			<h2>Send your resume</h2>
			<SendResume :positionList="positionList"></SendResume>
		</section>
	</div>
</template>
<style lang="scss" scoped>
	@import '../assets/styles/careers.scss';
</style>
<script>
	import CareersItem from './CareersItem.vue'
	import BlockLink from './BlockLink.vue';
	import SendResume from './SendResume.vue';

	export default {
		components: {
			CareersItem,
			BlockLink,
			SendResume
		},

		data:function() {
			return {
				itemsList: {},
				positionList: []
			}
		},

		created: function() {
			this.fetchItems();
		},

		methods: {
			fetchItems: function() {
				let uri = `${this.$api}/careerItems`;

				this.axios.get(uri).then((response) => {
					this.items = response.data;					

					for (let i = 0; i < this.items.length; i++) {
						this.positionList.push(this.items[i].name);

						for (let j = 0; j < this.items[i].categories.length; j++) {

							if (this.items[i].categories[j].name == 'Details') {
								if(this.items[i].categories[j].value !== null) {
									this.items[i].desc = this.items[i].categories[j].value.slice(0, 110) + '...';
								} else {
									this.items[i].desc = this.items[i].categories[j].value;
								}
							}
						}
					}

					this.itemsList = this.items.splice(0,6);
					this.positionList = this.positionList.filter(function(v, i, self) {
						return self.indexOf(v) === i;
					});
				});
			}
		}
	}

</script>
