<template>
	<div class="career-item-wrap">
		<div class="career-item">
			<span class="career-item__name">{{ item.name }}</span>
			<p class="career-item__desc">{{ item.desc }}</p>
			<div class="career-item__data">
				<div class="career-item__employ" v-show='show'>
					<svg v-svg
						symbol="icon-time"
						size="0 0 18 21"
						role="presentation"
						class="icon--inline"
					></svg>
					{{ item.employment_type }}
				</div>
				<div class="career-item__place">
					<svg v-svg
						symbol="icon-career-pin"
						size="0 0 14 19"
						role="presentation"
						class="icon--inline"
					></svg>
					{{ item.location.city }} {{ item.location.state }}
				</div>
				<a :href=item.url_active_page target="_blank" class="career-item__apply">
					Apply
					<svg v-svg
							symbol="icon-link"
							size="0 0 17 17"
							role="presentation"
							class="icon--inline"
					></svg>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			item: {
				type: Object
			}
		},
		data() {
			return {
				show: true
			}
		},
		methods: {
			hideZero: function() {
				if (this.item.employment_type == null || ""){
					this.show = !this.show
				}
			}
		},
		mounted: function(){
	        this.hideZero();
	  }
	}
</script>
<style lang="scss" scoped>
	@import '../assets/styles/career-item.scss';
</style>
