<template>
    <li class="cities__item"  @click="open()" :class="{cities__what : active}">
      <p class="cities__name">
        {{ place }}
        <span id="date" class="cities__date" @ready="getTime()"></span>
      </p>
      <transition name="fade">
        <article class="person" v-show="active">
          <span class="person__line" v-show="active"></span>
          <span class="person__mail">{{ mail }}</span>
        </article>
      </transition>
    </li>
</template>

<script>
export default {
  data: function() {
      return {
          active: false
      }
  },
  methods: {
    open: function() {
      var items = document.querySelectorAll('.cities__item');
      for (var i = 0; i < items.length; i++) {
        var person = items[i].querySelector('.person');
        var names = items[i].querySelector('.cities__name');
        person.style.display = 'none';
      }
      this.active = !this.active;
    },

    getTime: function () {
      var date = new Date();
      var hours = date.getHours();
      var moscowHours = hours - 4;
      var perthHours = hours + 1;
      var sfHours = hours - 14;
      var minutes = date.getMinutes();
      if (hours < 10) hours = "0" + hours;
      if (minutes < 10) minutes = "0" + minutes;

      let tomskTime = document.querySelector("#date-tomsk .cities__name #date");
      let sfTime=  document.querySelector("#date-sf .cities__name #date");
      let moscowTime = document.querySelector("#date-moscow .cities__name #date");
      let perthTime =  document.querySelector("#date-perth .cities__name #date");

      var getHours = function(x) {
        if(x < 0){
          let y = 24 + x;
          return y;
        } else if (x > 24){
          let y = 24 - x;
          return y * -1;
        } else {
          let y = x;
          return y;
        }
      };

      tomskTime.innerHTML = '(' + hours + ":" + minutes + ')';
      moscowTime.innerHTML = '(' + getHours(moscowHours) + ':' + minutes + ')';
      perthTime.innerHTML = '(' + getHours(perthHours) + ':' + minutes + ')';
      sfTime.innerHTML = '(' + getHours(sfHours) + ':' + minutes + ')';
    }
  },
  props: ['date', 'place', 'mail'],
  mounted: function(){
        this.getTime();
        setTimeout(this.getTime(), 1000);
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/contacts.scss';
</style>
