<template>
  <div class="contacts-page content-wrapper">
    <h1 class="contacts-page__header">Please contact us</h1>
    <SendEmail class="contacts-page__mail-form" :nameField="true"/>
    <Contacts />
  </div>
</template>

<script>
import Contacts from './Contacts.vue';
import SendEmail from './SendEmail.vue';

export default {
  components: {
    Contacts,
    SendEmail
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/contacts-page.scss';
</style>
