<template>
  <div class="contacts">
    <div class="content-wrapper contacts-wrapper">
      <section class="contacts-text">
        <h2>
          Contacts
        </h2>
        <ul class="cities">
          <cityContact id="date-sf" place="San Francisco, USA" mail="sf@baza.one" v-on:click.native="doSomething(2)"></cityContact>
          <cityContact id="date-perth" place="Perth, Australia" mail="perth@baza.one" v-on:click.native="doSomething(0)"></cityContact>
          <cityContact id="date-moscow" place="Moscow, Russia" mail="moscow@baza.one" v-on:click.native="doSomething(3)"></cityContact>
          <cityContact id="date-tomsk" place="Tomsk, Russia" mail="tomsk@baza.one" v-on:click.native="doSomething(1)"></cityContact>
        </ul>
      </section>
      <div class="contacts-map" id="app">
        <google-map ref="gMap" />
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/contacts.scss';
</style>

<script>
  import GoogleMap from './GoogleMap.vue';
  import CityContact from './CityContact.vue';

  export default {
    name: 'App',
    components: {
      CityContact,
      GoogleMap
    },

    methods: {
      doSomething: function(i) {
        this.$refs.gMap.mapCenter(i);
      }
    }
  };
</script>
