<template>
  <div class="google-map">
    <gmap-map
      ref="gMap"
      :center="center"
      :zoom="zoom"
      style="width: 100%; height: 464px;"
      v-bind:options="options"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="mapCenter(index)"
        :icon.sync="icon"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
  export default {
    name: "GoogleMap",
    data() {
      return {
        center: { lat: 33.77274909, lng: 20.41905095 },
        zoom: 2,
        map: '',
        icon: 'src/assets/imgs/svg/pin.svg',
        markers: [{
            position: { lat: -31.9505269, lng: 115.8604572 }
          }, {
            position: { lat: 56.5010397, lng: 84.9924506 }
          }, {
            position: { lat: 37.7749295, lng: -122.4194155 }
          }, {
            position: { lat: 55.755826, lng: 37.6172999 }
          }],
        places: [],
        currentPlace: null,
        options: {
          styles: [
            { "elementType": "geometry",
              "stylers": [ { "color": "#fdfcfa" } ]
            },
            { "elementType": "geometry.fill",
              "stylers": [ { "visibility": "on" }, { "weight": 1 } ]
            },
            { "elementType": "geometry.stroke",
              "stylers": [ { "visibility": "on" } ]
            },
            { "elementType": "labels.icon",
              "stylers": [ { "visibility": "off" } ]
            },
            { "elementType": "labels.text.fill",
              "stylers": [ { "color": "#616161" } ]
            },
            { "elementType": "labels.text.stroke",
              "stylers": [ { "color": "#f5f5f5" }, { "weight": 0.5 } ]
            },
            { "featureType": "administrative.land_parcel",
              "elementType": "labels",
              "stylers": [ { "visibility": "off" } ]
            },
            { "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#bdbdbd" } ]
            },
            { "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [ { "visibility": "off" } ]
            },
            { "featureType": "poi",
              "elementType": "geometry",
              "stylers": [ { "color": "#eeeeee" } ]
            },
            { "featureType": "poi",
              "elementType": "labels.text",
              "stylers": [ { "visibility": "off" } ]
            },
            { "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#757575" } ]
            },
            { "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [ { "color": "#e5e5e5" } ]
            },
            { "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#9e9e9e" } ]
            },
            { "featureType": "road",
              "elementType": "geometry",
              "stylers": [ { "color": "#ffffff" } ]
            },
            { "featureType": "road.arterial",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#757575" } ]
            },
            { "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [ { "color": "#dadada" } ]
            },
            { "featureType": "road.highway",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#616161" } ]
            },
            { "featureType": "road.local",
              "elementType": "labels",
              "stylers": [ { "visibility": "off" } ]
            },
            { "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#9e9e9e" } ]
            },
            { "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [ { "color": "#e5e5e5" } ]
            },
            { "featureType": "transit.station",
              "elementType": "geometry",
              "stylers": [ { "color": "#eeeeee" } ]
            },
            { "featureType": "water",
              "elementType": "geometry",
              "stylers": [ { "color": "#c9c9c9" } ]
            },
            { "featureType": "water",
              "elementType": "geometry.fill",
              "stylers": [ { "color": "#333234" } ]
            },
            { "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [ { "color": "#9e9e9e" } ]
            }
          ]
        }
      };
    },

    methods: {
      mapCenter: function(i) {
        if (this.center.lat == this.markers[i].position.lat && this.center.lng == this.markers[i].position.lng) {
          this.center.lat = this.markers[i].position.lat + 0.000000000001;
          this.center.lng = this.markers[i].position.lng + 0.000000000001;
        } else {
          this.center = this.markers[i].position;
        }

        if (this.zoom == 12) {
          this.zoom = 11.99999;
        } else {
          this.zoom = 12;
        }
      }
    }
  };
</script>
