<template>
<div class="content-wrapper services">
  <h1>ICO services</h1>
  <p class="services__desc">Being an integral part of blockchain community, we provide an assistance and industrial insights to our clients</p>
  <h2>We help with</h2>
  <section class="services__help">
    <div class="services__help-item-wrap">
      <article class="services__help-item">
        <div class="services__help-icon">
          <svg v-svg
            symbol="star"
            size="0 0 51 51"
            role="presentation"
            class="icon--inline"
          ></svg>
        </div>
        Bulding an ICO/Advisory team
      </article>
    </div>
    <div class="services__help-item-wrap">
      <article class="services__help-item">
        <div class="services__help-icon">
          <svg v-svg
            symbol="satisf-part"
            size="0 0 61 61"
            role="presentation"
            class="icon--inline"
          ></svg>
        </div>
        Сonnecting you to the pool of investors
      </article>
    </div>
    <div class="services__help-item-wrap">
      <article class="services__help-item">
        <div class="services__help-icon">
          <svg v-svg
            symbol="deep-tech"
            size="0 0 63 56"
            role="presentation"
            class="icon--inline"
          ></svg>
        </div>
        Providing with technical, PR, marketing and legal resources
      </article>
    </div>
    <div class="services__help-item-wrap">
      <article class="services__help-item">
        <div class="services__help-icon">
          <svg v-svg
            symbol="it-spec"
            size="0 0 63 42"
            role="presentation"
            class="icon--inline"
          ></svg>
        </div>
        Introducing you to the leading ICO market players and actors
      </article>
    </div>
  </section>
  <section class="services__partnerships">
    <h2>Our ICO-related partnerships</h2>
    <div class="services-slider-wrapper">
        <VueTinySlider
            ref="serviceSlider"
            class="service-slider"
            :responsive="responsive"
            :controls="false"
            :mouse-drag="true"
            items="1"
            gutter="20">
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-bestmeta.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-ico.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-latoken.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-crypterium.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-massa.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-ins.png">
            </div>
            <div class="service-slider__item">
                <img src="../assets/imgs/logo/logo-cryptolium.png">
            </div>
        </VueTinySlider>
        <div class="controls">
            <button class="controls__prev" v-on:click="slideGoTo('prev')" type="button">
                <svg v-svg
                    symbol="control-prev"
                    size="0 0 22 37"
                    role="presentation"
                    class="icon"
                ></svg>
            </button>
            <button class="controls__next" v-on:click="slideGoTo('next')" type="button">
                <svg v-svg
                    symbol="control-next"
                    size="0 0 22 37"
                    role="presentation"
                    class="icon"
                ></svg>
            </button>
        </div>
    </div>
    <block-link text="Become a partner" url="/contacts" />
  </section>
</div>
</template>

<script>
  import BlockLink from './BlockLink.vue';
  import VueTinySlider from 'vue-tiny-slider';

  export default {
    components: {
        BlockLink,
        VueTinySlider
    },

    data() {
        return {
            responsive: {
                640: {
                    items: 2
                },

                740: {
                    items: 3
                },

                1100: {
                    items: 4
                },
            }
        }
    },

    methods: {
        slideGoTo: function(direction) {
            this.$refs.serviceSlider.goTo(direction);
        }
    }
  }
</script>

<style lang="scss">
  @import '../assets/styles/ico-services.scss';
</style>
