<template>
	<div class="content">
		<advantages />
		<team />
		<partners />
		<blog />
		<contacts />
	</div>
</template>
<script>
	import Advantages from './Advantages.vue';
	import Team from './Team.vue';
	import Blog from './Blog.vue';
	import Partners from './Partners.vue';
	import Contacts from './Contacts.vue';

	export default {
		components: {
			Advantages,
			Team,
			Blog,
			Partners,
			Contacts
		}
	}
</script>
