<template>
  <div>
    <div class="mobile-menu">
      <span class="mobile-menu__btn" @click="menuMotion()">
        Menu
        <svg v-svg
            symbol="icon-menu"
            size="0 0 18 14"
            role="presentation"
            class="mobile-menu__icon"
        ></svg>
      </span>
    </div>
    <transition name="slide">
      <div class="panel-menu" v-show="show" >
        <section class="panel-menu__header-wrap">
          <div>
            <a href="/">
              <svg v-svg
                symbol="logo"
                size="0 0 79 22"
                role="presentation"
                class="icon--inline"
              ></svg>
            </a>
          </div>
          <span class="panel-menu__btn" @click="menuMotion()">
            Close
            <svg v-svg
                symbol="icon-close"
                size="0 0 14 14"
                role="presentation"
                class="panel-menu__icon"
            ></svg>
          </span>
        </section>
        <section class="panel-menu__nav-wrap">
          <nav class="panel-menu__nav" @click="menuMotion()">
            <router-link to="/" class="panel-menu__nav-item" >Main</router-link>
            <router-link to="/career" class="panel-menu__nav-item" >Vacancies</router-link>
      			<router-link to="/projects" class="panel-menu__nav-item" >Projects</router-link>
      			<router-link to="/ico-services" class="panel-menu__nav-item" >Blockchain</router-link>
      			<router-link to="/contacts" class="panel-menu__nav-item" >Contacts</router-link>
          </nav>
        </section>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show: false
    }
  },
  methods: {
    menuMotion: function() {
      this.show = !this.show;
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '../assets/styles/mobile-menu.scss';
</style>
