<template>
    <div class="partners">
        <div class="partners-inner content-wrapper">
            <h2>Partners</h2>
            <div class="partners-slider-wrapper">
                <VueTinySlider
                    ref="partnersSlider"
                    class="partners-slider"
                    :responsive="responsive"
                    :controls="false"
                    :mouse-drag="true"
                    items="1"
                    gutter="20">
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-access-industries.png" />
                        <img src="../assets/imgs/logo/logo-adventure.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-amedia.png" />
                        <img src="../assets/imgs/logo/logo-bestmeta.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-crypterium.png" />
                        <img src="../assets/imgs/logo/logo-gett.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-globaledge.png" />
                        <img src="../assets/imgs/logo/logo-cryptolium.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-ico.png" />
                        <img src="../assets/imgs/logo/logo-ins.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-instamart.png" />
                        <img src="../assets/imgs/logo/logo-latoken.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-massa.png" />
                        <img src="../assets/imgs/logo/logo-qlean.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-rabochaya.png" />
                        <img src="../assets/imgs/logo/logo-sibedge.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-technosoft.png" />
                        <img src="../assets/imgs/logo/logo-ubic.png" />
                    </div>
                    <div class="partners-slider__item">
                        <img src="../assets/imgs/logo/logo-zimin.png" />
                        <img src="../assets/imgs/logo/logo-ins.png" />
                    </div>
                </VueTinySlider>
                <div class="controls">
                    <button class="controls__prev" v-on:click="slideGoTo('prev')" type="button">
                        <svg v-svg
                            symbol="control-prev"
                            size="0 0 22 37"
                            role="presentation"
                            class="icon"
                        ></svg>
                    </button>
                    <button class="controls__next" v-on:click="slideGoTo('next')" type="button">
                        <svg v-svg
                            symbol="control-next"
                            size="0 0 22 37"
                            role="presentation"
                            class="icon"
                        ></svg>
                    </button>
                </div>
            </div>
            <block-link text="Become a partner" url="/contacts" />
        </div>
    </div>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/partners.scss';
</style>
<script>
    import VueTinySlider from 'vue-tiny-slider';
    import BlockLink from './BlockLink.vue';

	export default {
        components: {
            VueTinySlider,
            BlockLink
        },

        data() {
            return {
                responsive: {
                    640: {
                        items: 2
                    },

                    740: {
                        items: 3
                    },

                    1100: {
                        items: 4
                    },
                }
            }
        },

        methods: {
            slideGoTo: function(direction) {
                this.$refs.partnersSlider.goTo(direction);
            }
        }
	}
</script>
