<template>
	<div class="projects content-wrapper">
		<h1 class="projects__header">
			10+ years of custom software development</br>
			100+ dedicated engineers
		</h1>
		<transition name="fade">
			<div class="projects-list">
				<projects-item
					v-for="(item, i) in items"
					:key="i"
					:item="item"
				></projects-item>
			</div>
		</transition>
	</div>
</template>
<style lang="scss" scoped>
	@import '../assets/styles/projects-block.scss';
</style>
<script>
	import ProjectsItem from './ProjectsItem.vue'

	export default {
		components: {
			ProjectsItem
		},

		data:function() {
			return {
				items: {}
			}
		},

		created: function() {
			this.fetchItems();
		},

		methods: {
			fetchItems: function() {
				let uri = `${this.$api}/projectItems`;
				this.axios.get(uri).then((response) => {
                    this.items = response.data;
				});
			}
		}
	}
</script>
