<template>
	<div class="project-item-wrap">
		<a :href="item.url" target="_blank" class="project-item">
			<span class="project-item__img-wrap">
				<img class="project-item__img" :src="item.img">
			</span>
			<span class="project-item__text-area">
				<span class="project-item__title">
					{{ item.title }}
					<svg v-svg
						symbol="icon-link"
						size="0 0 17 17"
						role="presentation"
						class="project-item__icon"
					></svg>
				</span>
				<span class="project-item__desc">
					{{ item.desc.slice(0, 110) }}
					<span>...more</span>
				</span>
			</span>
		</a>
	</div>
</template>
<style lang="scss" scoped>
	@import '../assets/styles/projects-item.scss';
</style>
<script>
	export default {
		props: {
			item: {
				type: Object
			}
		}
	}
</script>
