<template>
  <form class="mail-form" v-on:submit="sendMail()">
    <div class="mail-form__input" v-if="nameField">
      <input class="mail-form__name" id="f-name" type="text" v-model="name" required="" @input="inputCheck()" placeholder="Your name"/>
      <!-- <span class="mail-form__input-placeholder">Name</span> -->
    </div>
    <div class="mail-form__input">
      <input class="mail-form__email" type="email" id="f-email" v-model="email" required="" @input="inputCheck()" placeholder="Yourmail@email.com"/>
      <!-- <span class="mail-form__input-placeholder">Yourmail@email.com</span> -->
    </div>
    <div class="mail-form__input">
      <input class="mail-form__text" type="text" id="f-text" v-model="text" required="" @input="inputCheck()" placeholder="Ask something"/>
      <!-- <span class="mail-form__input-placeholder">Ask something</span> -->
    </div>
    <div class="mail-form__input mail-form__input--button">
      <button class="mail-form__button" type="submit" value="Send email">Send</button>
    </div>
  </form>
</template>
<style lang="scss" scoped>
  	@import '../assets/styles/send-email.scss';
</style>
<script>
    export default {
        props: {
          nameField: false
        },

        data: () => (
            {
                name: null,
                email: null,
                text: null,
                errors: []
            }
        ),

        methods: {
            formCheck: function() {
                this.errors = [];

                if (this.nameField && !this.name) this.errors.push('Name required');

                if(!this.email) {
                    this.errors.push("Email required.");
                } else if(!this.validEmail(this.email)) {
                    this.errors.push("Valid email required.");
                }

                if(!this.errors.length) return true;
            },

            validEmail:function(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },

			      sendMail: function() {
                event.stopPropagation();
                event.preventDefault();

                if (!this.formCheck()) {
                    return
                }

                let uri = `${this.$api}/sendEmail`;
                let from;

                if (this.nameField) {
                    from = `${this.name}`;
                } else {
                    from = `${this.email}`;
                }

                let mailText = `from: <b>${from}</b>
                                <br><br>
                                ${this.text}`

        				this.axios.post(uri, {
                    email: this.email,
                    text: mailText
                }).then((res) => {
                    console.log(res)
                }).catch(err => {
                    console.log(err)
                });
            },

            inputCheck: function() {
                let input = event.target;

                if (!input.value) {
                  input.classList.remove("filled");
                } else {
                  input.classList.add("filled");
                }
            }
		    }
    }
</script>
