<template>
  <form class="resume-form" v-on:submit="sendResume()">
    <div class="resume-form__input">
      <input type="text" id="name" v-model="name" @input="inputCheck()" placeholder="Name" />
    </div>
    <div class="resume-form__input">
      <input type="text" id="surname" v-model="surname" @input="inputCheck()" placeholder="Surname"/>
    </div>
    <div class="resume-form__input">
      <input type="email" id="email" v-model="email" @input="inputCheck()" placeholder="Yourmail@email.com"/>
    </div>
    <select v-model="position">      
      <option v-for="(item, i) in positionList" :key="i" :value="i">{{ item }}</option>
      <option>Not on the list/add your own</option>
    </select>
    <label class="resume-form__triangle" for="position"></label>
    <input type="file" value="Attach resume" id="attachResume" @change="processFile($event)">
    <label class="resume-form__attach" for="attachResume">
      <svg v-svg
        symbol="icon-doc"
        size="0 0 14 18"
        role="presentation"
        class="icon--inline"
      ></svg>
      Attach resume
    </label>
    <span class="resume-form__btn">
      <button type="submit" value="Send email">Send</button>
    </span>
  </form>
</template>
<style lang="scss" scoped>
  	@import '../assets/styles/send-resume.scss';
</style>
<script>
    export default {
      data: () => (
          {
              name: null,
              surname: null,
              email: null,
              text: null,
              position: 0,
              attachment: null,
              errors: []
          }
      ),

      methods: {
          processFile() {
              this.attachment = event.target.files[0]
          },
        
          formCheck: function() {
              this.errors = [];

              if (!this.name) this.errors.push('Name required');

              if(!this.email) {
                  this.errors.push("Email required.");
              } else if(!this.validEmail(this.email)) {
                  this.errors.push("Valid email required.");
              }

              if(!this.errors.length) return true;
          },

          validEmail:function(email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
          },

          sendResume: function() {
              event.stopPropagation();
              event.preventDefault();

              if (!this.formCheck()) {
                  return
              }

              let uri = `${this.$api}/sendEmail`;

              var formData = new FormData();
              let mailText = `From: <b>${this.name} ${this.surname}</b><br>
                              Email: <b>${this.email}</b><br>
                              Interesting position: <b>${this.positionList[this.position]}</b>`;

              formData.append('file', this.attachment);
              formData.append('email', this.email);
              formData.append('text', mailText);

              this.axios.post(uri, formData, {
                  headers: {
                    'Content-Type': 'multipart/form-data'
                  }
              }
              
              ).then((res) => {
                  console.log(res)
              }).catch(err => {
                  console.log(err)
              });
            },

            inputCheck: function() {
                let input = event.target;

                if (!input.value) {
                  input.classList.remove("filled");
                } else {
                  input.classList.add("filled");
                }
            }
      },

      props: {
        positionList: Array
      }
    }
</script>
