<template>
    <div class="team content-wrapper">
        <h2>
            Team
        </h2>
        <div class="slider-container">
            <div class="team-slider">
                <VueTinySlider
                    ref="sliderLarge"
                    :mouse-drag="true"
                    :responsive="sliderLargeResponsive"
                    :controls="false"
                    :items="1"
                    gutter="20">
                    <a href="https://www.linkedin.com/in/avkalinin/" class="team-slider__item" target="_blank">
                        <div class="team-slider__img">
                            <img src="../assets/imgs/photo/Photo-Kalinin.jpg">
                        </div>
                        <div class="team-slider__name">
                            Aleksandr Kalinin
                            <svg v-svg
                                symbol="icon-link"
                                size="0 0 17 17"
                                role="presentation"
                                class="icon"
                            ></svg>
                        </div>
                        <div class="team-slider__info">
                            Operations/Custom software development
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/gaika/" class="team-slider__item" target="_blank">
                        <div class="team-slider__img">
                            <img src="../assets/imgs/photo/Photo-Gaika.jpg">
                        </div>
                        <div class="team-slider__name">
                            Katia Gaika
                            <svg v-svg
                                symbol="icon-link"
                                size="0 0 17 17"
                                role="presentation"
                                class="icon"
                            ></svg>
                        </div>
                        <div class="team-slider__info">
                            FIT Recruitment
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/seva-morotskiy-5a657195/" class="team-slider__item" target="_blank">
                        <div class="team-slider__img">
                            <img src="../assets/imgs/photo/Photo-Morotskiy.jpg">
                        </div>
                        <div class="team-slider__name">
                            Vsevolod Morotskiy
                            <svg v-svg
                                symbol="icon-link"
                                size="0 0 17 17"
                                role="presentation"
                                class="icon"
                            ></svg>
                        </div>
                        <div class="team-slider__info">
                            CTO, GlobalEDGE
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/dmitry-puchkov-1451bba/" class="team-slider__item" target="_blank">
                        <div class="team-slider__img">
                            <img src="../assets/imgs/photo/Photo-Puchkov.jpg">
                        </div>
                        <div class="team-slider__name">
                            Dmitry Puchkov
                            <svg v-svg
                                symbol="icon-link"
                                size="0 0 17 17"
                                role="presentation"
                                class="icon"
                            ></svg>
                        </div>
                        <div class="team-slider__info">
                            IT Outstaffing
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/annadegtereva/" class="team-slider__item" target="_blank">
                        <div class="team-slider__img">
                            <img src="../assets/imgs/photo/Photo-Degtereva.jpg">
                        </div>
                        <div class="team-slider__name">
                            Anna Degtereva
                            <svg v-svg
                                symbol="icon-link"
                                size="0 0 17 17"
                                role="presentation"
                                class="icon"
                            ></svg>
                        </div>
                        <div class="team-slider__info">
                            Blockchain/ICO
                        </div>
                    </a>
                </VueTinySlider>
            </div>
            <div class="team-slider team-slider--small">
                <VueTinySlider
                    ref="sliderSmall"
                    slide-by="2"
                    :mouse-drag="true"
                    :controls="false"
                    :responsive="sliderSmallResponsive"
                    items="3"
                    gutter="20">
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-1.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-2.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-4.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-5.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-6.jpg" />
                    </div>
                    <div class="team-slider__item">
                        <img src="../assets/imgs/photo/photo-7.jpg" />
                    </div>
                </VueTinySlider>
            </div>
            <div class="controls">
                <button class="controls__prev" v-on:click="slideGoTo('prev')" type="button">
                    <svg v-svg
                        symbol="control-prev"
                        size="0 0 22 37"
                        role="presentation"
                        class="icon"
                    ></svg>
                </button>
                <button class="controls__next" v-on:click="slideGoTo('next')" type="button">
                    <svg v-svg
                        symbol="control-next"
                        size="0 0 22 37"
                        role="presentation"
                        class="icon"
                    ></svg>
                </button>
            </div>
        </div>
        <block-link text="Work with us" url="/vacancies" />
    </div>
</template>
<style lang="scss" scoped>
  @import '../assets/styles/team.scss';
</style>
<script>
    import VueTinySlider from 'vue-tiny-slider';
    import BlockLink from './BlockLink.vue';

	export default {
		components: {
            VueTinySlider,
            BlockLink
        },

        data() {
            return {
                sliderLargeResponsive: {
                    719: {
                        items: 2
                    },

                    900: {
                        items: 3
                    },
                },

                sliderSmallResponsive: {
                    650: {
                        items: 4
                    },

                    740: {
                        items: 5
                    },

                    1030: {
                        items: 6
                    },

                    1280: {
                        items: 6
                    },
                }
            }
        },

        methods: {
            slideGoTo: function(direction) {
                this.$refs.sliderLarge.goTo(direction);
                this.$refs.sliderSmall.goTo(direction);
            }
        }
	}
</script>
