<template>
	<div class="container">
		<app-header></app-header>
		<transition name="fade">
			<router-view></router-view>
		</transition>
		<app-footer></app-footer>
	</div>
</template>
<style>
	* {
		box-sizing: border-box;
	}
	
	body {
		margin: 0;
		font-family: Sourcesanspro;
	}

	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
</style>
<script>
	import AppFooter from './components/AppFooter.vue';
	import AppHeader from './components/AppHeader.vue';

	export default {
		components: {
			AppFooter, AppHeader
		}
	}
</script>