//global
.content-wrapper {
    max-width: 1440px;
    margin: auto;
}

//variables
$black: #000;
$dark-font: #4f4f4f;
$soft-grey-bg: #F2F2F2;
$dark-grey-bg: #333333;
$theme-color: #D93838;
$white: #ffffff;

//fonts
@font-face {
    font-family: 'Sourcesanspro';
    src: url('../assets/fonts/sourcesanspro-bold.eot');
    src: url('../assets/fonts/sourcesanspro-bold.eot') format('eot'),
         url('../assets/fonts/sourcesanspro-bold.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Sourcesanspro';
    src: url('../assets/fonts/sourcesanspro-regular.eot');
    src: url('../assets/fonts/sourcesanspro-regular.eot') format('eot'),
         url('../assets/fonts/sourcesanspro-regular.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sourcesanspro';
    src: url('../assets/fonts/sourcesanspro-semibold.eot');
    src: url('../assets/fonts/sourcesanspro-semibold.eot') format('eot'),
         url('../assets/fonts/sourcesanspro-semibold.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-semibold.ttf') format('truetype');
    font-weight: 550;
    font-style: normal;
}

//media

$wide-desktop: 1439px;
$plain-desktop: 1279px;
$small-desktop: 1023px;
$tablet: 959px;
$tablet-middle: 719px;
$mobile: 479px;
$small-mobile: 459px;

//headers

h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: normal;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 30px;
}


@media(max-width: $plain-desktop) {
  h1 {
      font-size: 45px;
  }
}

@media(max-width: $small-desktop) {
  h1 {
      font-size: 40px;
  }
}

@media(max-width: $tablet-middle) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 23px;
  }
}

@media(max-width: $mobile) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
