.advantages {
    margin-bottom: 90px;

    &__content {
        padding: 0 43px;
    }
}

.talent-search-link {
    text-decoration: underline;
    color: $theme-color;

    &:hover {
        text-decoration: none;
    }
}

.desc {
    font-size: 22px;
    margin-bottom: 60px;
}

.img {
    height: 400px;
    background: url('../assets/imgs/advantages-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 60px;
}

.plus-list {
    display: flex;

    &__item {
        flex: 1 1 100%;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.plus {
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 10px;
    padding: 40px 15px 20px;
    height: 100%;

    &__icon {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__desc {
        text-align: center;
        line-height: 20px;
        font-size: 15px;
    }
}

@media(max-width: $plain-desktop) {
  .plus {
    padding-bottom: 47px;
  }
}

@media(min-width: $tablet) and (max-width: $small-desktop) {
  .advantages {
    margin-bottom: 70px;
  }

  .plus {
    &-list {
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex-basis: 280px;
        margin-bottom: 20px;
      }
    }
  }
}

@media(max-width: $tablet) {
  .advantages {
    margin-bottom: 70px;

    &__content {
      padding: 0 40px;
    }
  }

  .plus {
    &-list {
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex-basis: 190px;
        margin-bottom: 20px;
      }
    }
  }
}
