.header {
    display: flex;
    height: 74px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 50px;
}

@media (max-width: $tablet) {
  .logo-container .icon--inline {
    width: 100px;
    height: 27px;
  }
}

@media (max-width: $mobile) {
  .logo-container .icon--inline {
    width: 79px;
    height: 22px;
  }
}
