.nav {
    display: flex;
    align-items: center;

    &__item {
        position: relative;
        margin: 0 32.5px;
        font-size: 15px;
        line-height: 14px;
        font-weight: 500;
        color: $black;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          transition: all 0.2s;
        }

        &:hover::after {
            width: 100%;
            background-color: rgba($theme-color, 0.5);
        }
    }
}

.router-link-active {
  border-bottom: 1px solid rgba($theme-color, 0.5);

  &::after {
    display: none;
  }
}

@media(min-width: $mobile) and (max-width: $tablet) {
  .nav {
    &__item {
      margin-left: 0;
      margin-right: 20px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}

@media(max-width: $mobile) {
  .nav {
    display: none;
  }
}
