.block-link-wrapper {
    display: flex;
    justify-content: center;
}

.block-link {
    color: $theme-color;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .icon {
        display: block;
    }

    .bg {
        position: absolute;
        left: 6px;
        right: 6px;
        top: 0;
        bottom: 0;
        z-index: 0;
        transition: .2s ease-in-out;
        -webkit-transform: skew(20deg);
           -moz-transform: skew(20deg);
             -o-transform: skew(20deg);
                transform: skew(20deg);
    }

    &__text {
        height: 100%;
        line-height: 33px;
        padding: 0 20px;
        font-weight: 500;
        z-index: 1;
    }

    &:hover {

        .bg {
            box-shadow: 150px 0 0px 1px $theme-color inset,
              -150px 0 0px 1px $theme-color inset;
        }

        .block-link__text {
            color: white;
        }
    }
}

@media(max-width: $small-mobile) {
  .block-link__text {
    font-size: 18px;  
  }

  .block-link__text {
    text-align: center;
  }
}

.career__vacancies-btn {
  .block-link__text {
    width: 240px;
    text-align: center;
  }
}
