.blog {
    padding: 0 40px;
}

.blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
}

.col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    -ms-flex-negative: 1;
}

.col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -ms-flex-negative: 1;
}

.col {
    padding: 0 10px;
}

@media(max-width: $tablet-middle) {
  .blog-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .col-2 {
    display: flex;
    -ms-flex-preferred-size: 50%;
        flex-basis: 100%;
  }

  .col-1 {
      -ms-flex-preferred-size: 50%;
          flex-basis: 100%;
  }
}
