.blog-item {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;

    img {
        display: block;
        object-fit: cover;
        height: 100%;
        transition: transform 0.5s ease-out 0s;
    }

    &__img-container {
        margin-bottom: 20px;
        height: 228px;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &.large {
        .blog-item__img-container {
            height: 532px;
        }
    }

    &__img {
        width: 100%;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        height: 36px;
    }

    &__text {
        flex: 1 1 100%;
        flex-basis: 100%;
        font-size: 13px;
        line-height: 18px;
        color: $black;
    }

    &__text-from {
        font-weight: 550;
    }

    &__text-author {
        flex: 1 1 100%;
        flex-basis: 100%;
    }

    &__like {
        flex: 0 0 auto;
        flex-basis: auto;
        padding-right: 20px;
    }
}

.like {
    display: flex;

    &__count {
        font-size: 13px;
        color: $black;
    }

    &__icon {
        margin-right: 5px;
        margin-top: 3px;
    }
}

@media(min-width: $tablet) and (max-width: $small-desktop) {
  .blog-item {
    &__img-container {
      height: 166px;
    }

    &.large {
      .blog-item__img-container {
        height: 408px;
      }
    }
  }
}

@media(min-width: $tablet-middle) and (max-width: $tablet) {
  .blog-item {
    &__img-container {
      height: 112px;
    }

    &.large {
      .blog-item__img-container {
        height: 300px;
      }
    }

    &__info {
      flex-direction: column;
    }
  }
}

@media(min-width: $mobile) and (max-width: $tablet-middle) {
  .blog-item {
    &:nth-child(2n) {
      margin-left: 20px;
    }

    &__img-container {
      height: 190px;
    }

    &.large {
      .blog-item__img-container {
        height: 400px;
      }
    }
  }
}

@media(max-width: $tablet-middle) {
  .blog-item {
    &:nth-child(2n) {
      margin-left: 20px;
    }

    &__img-container {
      height: 309px;
    }

    &.large {
      .blog-item__img-container {
        height: 400px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .blog-item {
    &__img-container {
      height: 166px;
    }

    &.large {
      .blog-item__img-container {
        height: 348px;
      }
    }

    &__info {
      flex-wrap: wrap;
    }
  }
}
