.career-item-wrap {
  flex: 0 0 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.career-item {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 22px 20px;
  background-color: $soft-grey-bg;

  &__name {
    display: block;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    color: $black;
  }

  &__desc {
    margin: 10px 0 20px 0;
    font-size: 15px;
    line-height: 21px;
    color: $black;
  }

  &__data {
    display: flex;
    justify-content: flex-start;
  }

  &__employ,
  &__place {
    margin-right: 40px;
    font-size: 12px;
    line-height: 21px;
    color: $dark-font;

    svg {
      margin-right: 5px;
    }
  }

  &__apply {
    margin-left: auto;
    font-size: 18px;
    color: $theme-color;
    text-decoration: none;
  }

  &__employ svg,
  &__place svg,
  &__apply svg {
    vertical-align: bottom;
  }
}

@media(max-width: $tablet) {
  .career-item {
    &__data {
      flex-direction: column;
    }

    &__employ {
      margin-bottom: 10px;
    }
  }
}

@media(max-width: $mobile) {
  .career-item-wrap {
    flex-basis: 100%;
  }
}

@media(max-width: $small-mobile) {
  .career-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    &__employ {
      margin-bottom: 10px;
    }

    &__place {
      padding-left: 2px;
    }
  }
}
