.career {
	padding: 0 40px;

	&__target-block {
		margin-bottom: 47px;
	}

	&__desc {
		max-width: 1050px;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
	}

	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -10px;
		margin-bottom: 60px;
	}

	&__advantages-list {
		display: flex;
		justify-content: center;
	}

	&__advantage {
		position: relative;
		flex: 0 0 33%;
	}

	&__advantage-head {
		margin: 0;
		font-size: 20px;
		line-height: 21px;
		font-weight: bold;
		color: $theme-color;
	}

	&__advantage-icon {
		margin-right: 10px;
	}

	&__advantage-text {
		padding-left: 32px;
		font-size: 15px;
		line-height: normal;
	}

	&__mail-block {
		margin-top: 60px;
		margin-bottom: 120px;
	}
}

@media(min-width: $plain-desktop) and (max-width: $wide-desktop) {
	.career {
		max-width: 1270px;
		margin: 0 auto;

		&__list {
			max-width: 1200px;
			margin: 0 auto 60px;
			margin-bottom: 60px;
		}
	}
}

@media(min-width: $small-desktop) and (max-width: $plain-desktop) {
	.career {
		max-width: 1000px;
		margin: 0 auto;

		&__list {
			max-width: 944px;
			margin: 0 auto 60px;
		}
	}
}

@media(min-width: $tablet) and (max-width: $small-desktop) {
	.career {
		max-width: 940px;
		margin: 0 auto;

		&__list {
			max-width: 880px;
			margin: 0 auto 60px;
		}
	}
}

@media(max-width: $tablet) {
	.career {
		&__advantages-list {
			flex-direction: column-reverse;
		}

		&__advantage {
			width: auto;
		}

		&__desc {
			font-size: 20px;
		}
	}
}
