.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 92px 40px 116px;
}

.cities {
  &__item {
    padding-bottom: 30px;
  }

  &__name {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;

    &:hover::after{
      content: "";
      position: absolute;
      bottom: 6px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: rgba($theme-color, 0.5);
    }
  }

  &__date {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $black;
  }

  input[name="toggle"] {
    display: none;
  }
}

.person {
  position: relative;

  &__mail,
  &__name {
    display: block;
    padding-top: 9px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  &__name {
    text-transform: uppercase;
  }
}

.contacts-map {
  width: 900px;
}

@media(max-width: $plain-desktop) {
  .contacts-map {
    width: 700px;
  }
}

@media(min-width: $small-desktop) and (max-width: $plain-desktop) {
  .cities {
    &__date {
      display: block;
    }
  }
}

@media (max-width: $small-desktop) {
  .contacts-wrapper {
    flex-direction: column;
  }

  .cities {
    display: flex;
    justify-content: space-between;

    &__date {
      display: block;
    }
  }

  .contacts-map {
    width: 100%;
  }
}

@media (max-width: $tablet) {
  .cities {
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      flex: 1 1 50%;
    }
  }
}

@media(max-width: $mobile) {
  .cities__item {
    flex-basis: 100%;
  }
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
