.footer {
  background-color: $dark-grey-bg;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;

  }

  &__logo {
    margin: 0;
    padding-top: 18px;
    padding-right: 100px;
    font-weight: 400;
    font-size: 15px;
    color: $white;

    span {
      font-weight: 550;
    }
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    padding-right: 50px;
    padding-top: 18px;
    font-size: 15px;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__social-icon {
    margin-left: 10px;
    vertical-align: middle;
  }
}

@media(min-width: $plain-desktop) and (max-width: $wide-desktop) {
  .footer {
    &__social-item {
      padding-right: 50px;
    }

    &__logo {
      padding-right: 90px;
    }
  }
}

@media(min-width: $small-desktop) and (max-width: $plain-desktop) {
  .footer {
    &__social-icon {
      width: 16px;
      height: 16px;
    }

    &__logo {
      padding-right: 45px;
    }

    &__social-item {
      padding-right: 20px;
    }
  }
}

@media (max-width: $small-desktop) {
  .footer {
    &-wrapper {
      flex-wrap: wrap;
      padding-bottom: 81px;
    }

    &__social-list {
      padding-bottom: 41px;
    }

    &__social-item {
      padding-right: 40px;
    }

    &__social-item:last-child {
      padding-right: 0px;
    }

    &__social-icon {
      width: 16px;
      height: 16px;
    }
  }
}

@media(min-width: $mobile) and (max-width: $tablet) {
  .footer {
    &__logo {
      padding-right: 12px;
    }

    &__social-item {
      padding-right: 20px;
    }
  }
}

@media(max-width: $mobile) {
  .footer {
    &-wrapper {
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      padding-bottom: 22px;
      padding-right: 0px;
    }

    &__social-list {
      flex-wrap: wrap;
    }

    &__social-item {
      padding-right: 20px;
    }
  }
}

@media(max-width: $small-mobile) {
  .footer {
    height: 471px;
  }
}
