.services {
  padding: 0 40px;
  padding-bottom: 120px;

  &__desc {
    margin: 0;
    margin-bottom: 60px;
    max-width: 990px;
    font-size: 24px;
    line-height: 30px;
  }

  &__help {
    margin: 8px -10px 70px -10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item-wrap {
      flex: 0 0 25%;
      margin-bottom: 20px;
      padding: 0 10px;
    }

    &-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 20px;
      text-align: center;
      line-height: 35px;
      font-size: 24px;
      background-color: $soft-grey-bg;
      box-shadow: 0 4px 4px rgba($black, 0.25);
      border-radius: 6px;
    }

    &-icon {
      margin-bottom: 20px;
    }
  }

  &__partnerships {
    &-list {
      margin-top: 10px;
      margin-bottom: 83px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-item:not(:last-child):not(:nth-child(4n)) {
      margin-right: 40px;
    }

    &-item img {
      width: 305px;
      height: 110px;
    }
  }
}

.controls {
    &__prev,
    &__next {
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__next {
        right: -25px;
    }

    &__prev {
        left: -25px;
    }
}

.services-slider-wrapper {
    margin-bottom: 77px;
    position: relative;
}

.service-slider {

    &__item {
        text-align: center;

        img {
            margin-bottom: 50px;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: $tablet) {
  .services__help-item-wrap {
    flex-basis: 50%;
  }
}

@media(max-width: $mobile) {
  .services__help-item-wrap {
    flex-basis: 100%;
  }
}
