.mobile-menu {
  display: block;

  &__btn {
    vertical-align: top;
    font-size: 14px;
    color: $black;
  }

  &__icon {
    margin-left: 10px;
    vertical-align: initial;
  }
}

.panel-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 24px 40px;
  background-color: $white;
  z-index: 3;
  overflow: hidden;

  &__header-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
  }

  &__btn {
    padding-top: 4px;
    font-size: 14px;
  }

  &__icon {
    margin-left: 10px;
    margin-right: 2px;
    margin-bottom: 3px;
    vertical-align: middle;
  }

  &__nav-item {
    display: block;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: $black;
    text-decoration: none;
  }
};

.router-link-exact-active  {
  color: $theme-color;
}

@media(max-width: $small-mobile) {
  &__nav-item {
    font-size: 30px;
    line-height: 38px;
  }
}

@media(min-width: $mobile) {
  .mobile-menu,
  .panel-menu {
    display: none;
  }
}

.slide-enter-active, .slide-leave-active {
  transition-property: left;
  transition-duration: .25s;
}

.slide-enter, .slide-leave-active {
  left: 100%;
}
