.partners {
    background: $soft-grey-bg;
    margin-bottom: 90px;
}

.partners-inner {
    padding: 40px 40px 20px;
}

.partners-slider-wrapper {
    margin-bottom: 77px;
    position: relative;
}

.partners-slider {

    &__item {
        text-align: center;

        img {
            margin-bottom: 50px;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.controls {
    &__prev,
    &__next {
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__next {
        right: -25px;
    }

    &__prev {
        left: -25px;
    }
}
