.project-item-wrap {
  flex: 0 0 33%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.project-item {
  display: block;
  height: 100%;
  background-color: $soft-grey-bg;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;

  &__img-wrap {
    display: block;
    width: 100%;
    height: 203px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: transform 0.5s ease-out 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text-area {
    display: block;
  }

  &__title {
    display: inline-block;
    position: relative;
    margin: 20px 20px 10px 20px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 550;
    color: $black;
    text-transform: uppercase;

    &:hover {
      color: $theme-color;
    }
  }

  &__title:first-letter {
    text-transform: uppercase;
  }

  &__icon {
    margin-left: 8px;
    display: inline-block;
    vertical-align: top;
  }

  &__desc {
    display: block;
    padding: 0 20px 33px 20px;
    color: $black;
    font-size: 15px;
    line-height: 20px;

    span {
      color: $theme-color;
    }
  }
}

@media (max-width: $wide-desktop) {
  .project-item__img-wrap {
    height: 193px;
  }
}

@media (max-width: $plain-desktop) {
  .project-item__img-wrap {
    height: 150px;
  }
}

@media(max-width: $small-desktop) {
  .project-item__img-wrap {
    height: 140px;
  }
}

@media(max-width: $tablet) {
  .project-item-wrap {
    flex-basis: 50%;
  }

  .project-item__img-wrap {
    height: 191px;
  }
}

@media (max-width: $tablet-middle) {
  .project-item-wrap {
    flex-basis: 70%;
  }

  .project-item__img-wrap {
    height: 155px;
  }
}

@media (max-width: $mobile) {
  .project-item-wrap {
    flex-basis: 100%;
  }

  .project-item__img-wrap {
    height: 170px;
  }
}

@media (max-width: $small-mobile) {
  .project-item__img-wrap {
    height: 147px;
  }
}
