.projects {
  padding:  0 40px;
  padding-bottom: 120px;

  h2 {
    margin-bottom: 90px;
  }

  &__header {
    font-size: 35px;
    padding-bottom: 20px;
  }
}

.projects-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}

@media(max-width: $tablet) {
  .projects__header {
    font-size: 28px;
  }
}

@media(max-width: $tablet-middle) {
  .projects-list {
    justify-content: center;
  }
}

@media(max-width: $mobile) {
  .projects__header {
    font-size: 22px;
  }
}
