.resume-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  border-radius: 4px;
  background-color: $white;

  &__input {
    flex: 0 0 33.3%;
    position: relative;

    input:focus + .resume-form__input-placeholder,
    .filled + .resume-form__input-placeholder {
      transform: translateY(-12px) scale(.9);
    }
  }

  &__input-placeholder {
    position: absolute;
    top: 18px;
    left: 9px;
    font-size: 12px;
    line-height: 15px;
    color: $dark-font;
    pointer-events: none;
    transition: transform 0.2s linear;
  }

  &__input input,
  select {
    width: 100%;
    margin-bottom: 20px;
    padding: 18px 9px;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: $soft-grey-bg;
    box-shadow: none;
  }

  select {
    flex: 1 1 59%;
    padding-left: 20px;
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
  }

  input[type="file"] {
    display: none;
  }

  &__attach,
  &__btn {
    flex: 1 1 5.6%;
    background-color: transparent;
  }

  &__attach {
    padding-left: 22px;
    padding-top: 22px;
    font-size: 14px;
    white-space: nowrap;

    svg {
      margin-right: 10px;
      vertical-align: bottom;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button {
    padding: 16px 86px 13px 87px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: $theme-color;
    color: $white;
    border: none;
    box-shadow: none;
    outline-color: $theme-color;
    border-radius: 4px;
  }

  input[type="email"]:valid + input[type="text"]:valid ~ button:hover {
    background-color: $dark-grey-bg;
  }

  &__triangle {
    position: absolute;
    top: 95px;
    left: 8px;
    width: 1px;
    height: 1px;
    border: 3px solid $theme-color;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}

.resume-form::before,
.resume-form::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 1px;
  height: 48px;
  background-color: #979797;
  z-index: 1;
}

.resume-form::before {
  left: 33.3%;
}

.resume-form::after {
  right: 33.33%;
}

@media(min-width: $plain-desktop) and (max-width: $wide-desktop) {
  .resume-form {
    select {
      flex-basis: 66%;
    }

    &__attach,
    &__btn {
      flex-basis: 13%;
    }
  }
}

@media(min-width: $small-desktop) and (max-width: $plain-desktop) {
  .resume-form {
    select {
      flex-basis: 50%;
    }

    &__attach,
    &__btn {
      flex-basis: 0%;
    }

    &__btn {
      button {
        padding: 16px 75px 13px 75px;
      }
    }
  }
}

@media(min-width: $tablet) and (max-width: $small-desktop) {
  .resume-form {
    select {
      flex-basis: 50%;
    }

    &__attach,
    &__btn {
      flex-basis: 7%;
    }

    &__btn {
      button {
        padding: 16px 70px 13px 70px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .resume-form {
    input,
    select {
      flex-basis: 100%;
    }

    &__triangle {
      top: 95px;
      left: 10px;
    }

    &__attach,
    &__btn {
      flex: none;
    }

    &__attach {
      padding-left: 0;
    }

    &__btn {
      margin-left: auto;
    }
  }
}

@media(max-width: $mobile) {
  .resume-form {
    &__input {
      flex: 0 0 100%;
    }

    &::before,
    &::after {
      display: none;
    }

    &__triangle {
      top: 238px;
    }
  }
}

@media(max-width: $small-mobile) {
  .resume-form {
    &__attach,
    &__btn {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    &__btn {
      padding-top: 20px;
    }
  }
}
