.mail-form {
  display: flex;
  flex: 0 0 50%;
  position: relative;
  background-color: $white;
  border-radius: 4px;
  padding: 2px;

  &__input {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    input:focus + .mail-form__input-placeholder,
    .filled + .mail-form__input-placeholder {
      transform: translateY(-12px) scale(.9);
    }
  }

  &__input-placeholder {
    position: absolute;
    top: 3px;
    left: 0px;
    font-size: 12px;
    line-height: 15px;
    color: $dark-font;
    pointer-events: none;
    transition: transform 0.2s linear;
  }

  &__name,
  &__email,
  &__text {
    padding: 18px 8px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
  }

  &__input:nth-child(1) {
    flex: 1 1 30%;
  }

  &__input:nth-child(2) {
    flex: 1 1 69%;
  }

  &__email,
  &__text {
    width: 100%;
  }

  &__button {
    padding: 16px 29px 15px 27px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: $theme-color;
    color: $white;
    border: none;
    box-shadow: none;
    outline-color: $theme-color;
    border-radius: 4px;
  }

  &__button:hover {
    background-color: $dark-grey-bg;
  }

  &::before {
    content: "";
    position: absolute;
    left: 25.6%;
    top: 3px;
    width: 1px;
    height: 48px;
    background-color: #979797;
    z-index: 1;
  }
}

@media (max-width: $plain-desktop) {
  .mail-form {
    &__input:nth-child(2) {
      flex: 0 0 30%;
    }

    &::before {
      left: 29.6%;
    }
  }
}

@media (max-width: $small-desktop) {
  .mail-form {
    flex: 1 1 100%;

    &__input:nth-child(2) {
      flex: 1 1 40%;
    }

    &::before {
      left: 33%;
    }
  }
}

@media(min-width: $tablet-middle) and (max-width: $tablet) {
  .mail-form::before {
    left: 31%;
  }
}

@media(max-width: $tablet-middle) {
  .mail-form {
    flex-wrap: wrap;
    padding-left: 2px;

    &::before {
      left: 0;
      top: 51px;
      width: 100%;
      height: 1px;
    }

    &__email,
    &__text,
    &__input {
      flex: 1 1 100%;
    }

    .mail-form__button {
      width: 100%;
    }

    &__input-placeholder {
      top: 13px;
    }
  }
}

.contacts-page {
  .mail-form {
    display: flex;

    input {
      background-color: $soft-grey-bg;
    }

    &__input {
      background-color: $soft-grey-bg;

      &:first-child {
        display: block;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:first-child,
      &:nth-child(2) {
        flex: 0 0 25%;
      }

      &:nth-child(3) {
        flex: 0 0 43%;
      }
    }

    &__name,
    &__email,
    &__text {
      width: 100%;
      padding: 18px 7px;
    }

    &::before {
      left: 26.4%;
      top: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 2px;
      width: 1px;
      height: 48px;
      background-color: #979797;
      z-index: 1;
    }
  }
}

@media(max-width: $plain-desktop) {
  .contacts-page {
    .mail-form {
      &__input {
        &:nth-child(3) {
          flex: 1 1 42%;
        }
      }

      &::before {
        left: 26.7%;
      }
    }
  }
}

@media(max-width: $small-desktop) {
  .contacts-page {
    .mail-form__input {
      &:nth-child(3) {
        flex: 1 1 39%;
      }
    }
  }
}

@media(max-width: $tablet) {
  .contacts-page {
    .mail-form__input {
      &:first-child,
      &:nth-child(2) {
        flex: 0 0 20%;
      }

      &:nth-child(3) {
        flex: 1 1 35%;
      }
    }

    .mail-form::before {
      left: 23%;
    }
    .mail-form::after {
      left: 41%;
    }
  }
}

@media(max-width: $tablet-middle) {
  .contacts-page {
    .mail-form {
      flex-wrap: wrap;

      &__input {
        &:first-child,
        &:nth-child(2) {
          flex: 0 0 100%;
        }

        &:nth-child(3) {
          flex: 1 1 100%;
        }
      }

      &__input--button {
        flex: 1 1 100%
      }

      &__button {
        width: 100%;
      }

      &::before {
        top: 51px;
        left: 40px;
        width: calc(100% - 80px);
        height: 1px;
      }

      &::after {
        top: 102px;
        left: 40px;
        width: calc(100% - 80px);
        height: 1px;
      }
    }
  }
}
