.team {
    padding: 0 40px 50px;
}

.slider-container {
    padding: 0 40px;
    margin-bottom: 60px;
    position: relative;
}

.controls {
    &__prev,
    &__next {
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__next {
        right: 0;
    }

    &__prev {
        left: 0;
    }
}

.team-slider {
    margin-bottom: 30px;

    &--small {
      margin-bottom: 0px;

      img {
          width: 100%;
      }
    }

    &__item {
        text-decoration: none;
        color: $black;
    }

    &__img {
        margin-bottom: 20px;

        img {
            display: block;
            width: 100%;
        }
    }

    &__name {
        position: relative;
        display: inline;
        font-weight: 550;
        font-size: 18px;
        align-items: center;
        margin-left: 20px;
        line-height: normal;

        .icon {
            margin-left: 5px;
        }

        &:hover::after {
          content: "";
          position: absolute;
          top: 20px;
          left: 0px;
          width: calc(100% - 23px);
          height: 1px;
          background-color: rgba($theme-color, 0.5);
        }
    }

    &__info {
        font-size: 18px;
        padding-left: 20px;
        line-height: normal;
    }
}

@media(max-width: $plain-desktop) {
  .team-slider {
    &--small {
      img {
        max-width: 147px;
      }
    }
    
    &__img {
      max-width: 360px;
    }
  }
}

@media(max-width: $tablet-middle) {
    .slider-container {
        margin-left: -40px;
        margin-right: -40px;
    }
    
    .team-slider {    
        &__item {
            display: inline-flex !important;
            align-items: center;
            flex-direction: column;
        }
    }

    .controls {    
        &__next {
            right: 5px;
        }
    
        &__prev {
            left: 5px;
        }
    }
}